{% extends "index.html"%} {% block content %}
<!-- GOOGLE PLUS SIGN IN BUTTON-->

<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

<div class="text-left loginzz" data-gr-c-s-loaded="true">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center pahs">
                <img class="mb-4 img-responsive pahs" src="https://i.ibb.co/nbJ76y0/imageedit-3-3779169108.png" alt=""
                    width="auto" height="auto" />
            </div>
        </div>
        <div class="col">
            <form class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal">PetAdopt</h1>
                <h6 class="info">
                    You and your pets in one place,<br />
                    searchable and acessible anywhere.
                </h6>
                <br />
                <p>Sign-in with:</p>
                <button type="button" class="btn btn-danger btn-lg btn-block"
                    onclick="window.location.href = '/login/google'">
                    <img src="https://i.ibb.co/Gt2ZwWq/google.png" height="30px" /> Login with Google
                </button>

                <br />
                <h5>OR</h5>
                <br />
                <button type="button" class="btn btn-gitlab btn-lg btn-block"
                    onclick="window.location.href = '/login/facebook'">
                    <img src="https://i.ibb.co/9skzH5X/fb.png" height="25px" /> Login with Facebook
                </button>

            </form>
        </div>
    </div>
</div>


{% endblock %}