{% extends "index.html"%} {% block content %}
<!-- GOOGLE PLUS SIGN IN BUTTON-->

<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">

<div class="form-signin" style="width:800px; margin:0 auto;">
    <img class="mb-4" src="https://i.ibb.co/bWDthLc/imageedit-4-9423460446.png" alt="" width="auto" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Login/SignUp</h1>
    <div id="signinButton" style="margin: 30px;">

        <span class="g-signin" data-scope="openid email profile" data-clientid="982428003194-1tfbs2gpljhvmdp006nucagb1r7b7bsh.apps.googleusercontent.com" data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback" data-approvalprompt="force">
          </span>
    </div>
    <div id="result"></div>

    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                // Hide the sign-in button now that the user is authorized
                // $('#signinButton').attr('style', 'display: none');
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/pets/";
                            }, 4000);

                        } else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }

                });
            }
        }
    </script>

</div>
{% endblock %}